{{page-title "Create Device"}}
<hr />
<div id="errorMessage" style="display: none;" class="alert">
  <span class="closebtn">&times;</span>
  <strong>Error: </strong>{{this.message}}
</div>

<div id="successMessage" style="display: none;" class="alert success">
  <span class="closebtn">&times;</span>
  <strong>Success: </strong>
  {{this.message}}
</div>

<div class="">
  <form class="formke" {{on "submit" this.createDevice}}>
    <dl>
      <div class="my-1">
        <dt>Device name:</dt>
        <dd>
          <Input
            @value={{this.newDevice}}
            required="true"
            placeholder="Digitakt"
          />
        </dd>
      </div>
      <div class="my-1">
        <dt>Brand:</dt>
        <dd>
          <Input
            @value={{this.newBrand}}
            required="true"
            placeholder="Electron"
          />
        </dd>
      </div>
      <div class="my-1">
        <dt>Channels:</dt>
        <dd>
          <PowerSelect
            @options={{this.allChannels}}
            @placeholder="Please select a Channel"
            @selected={{this.selectedChannel}}
            @searchField="true"
            @onChange={{action "setChannelType"}}
            as |channel|
          >
            {{channel.audiotype}}
          </PowerSelect>
          <br /><br />
          <label style="color: white;">Number of Channels:
            <span>(for MIDI the standard is 16 unless specified differently)</span></label><br
          />
          <Input
            id="channelcount"
            @value={{this.channelCount}}
            placeholder="number of channels"
          />
          <br /><br />
          <button type="button" onclick={{action "addChannel"}}>Add Channel</button>
        </dd>
        <br />
        <div style="color: white;">
          <h4>added channels:</h4>
          <ul>
            {{#each this.channelList as |channel|}}
              <li><input class="channel" type="checkbox" />
                {{channel.audiotype}}
                -
                {{channel.channeltype}}
                -
                {{channel.channeldirection}}</li>
            {{/each}}
          </ul>
          <br />
          <button type="button" {{on "click" this.removeChannels}}>Delete
            channel(s)</button>
        </div>
      </div>

      <div class="my-1">

      </div>
      <div id="typeMissingError" style="display: none;" class="alert">
        <span class="closebtn">&times;</span>
        <strong>Error: </strong>{{this.message}}
      </div>
      <div class="my-1">
        <dt>Device Type:</dt>
        <dd style="margin-top: 7px;">
          <PowerSelect
            @options={{this.listOfTypes}}
            @placeholder="Please select a Type"
            @selected={{this.selectedType}}
            @searchField="true"
            @onChange={{action "setType"}}
            as |devicetype|
          >
            {{devicetype.type}}
          </PowerSelect>

        </dd>
        <dt style="margin: 7px">Device type not in list click here to create one</dt>
        <dd>
          <a href="/device-type/">Create device type</a>
        </dd>
      </div>
    </dl>
    <button type="submit">Create</button>
  </form>

  <div>
    {{#each @model.devicetypes as |Devicetypes|}}
      <p style="" text-color: white;>{{Devicetypes}}</p>
    {{/each}}
  </div>
  <table class="devlist">
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>actions</th>
    </tr>
    {{#each @model as |device|}}
      <tr>
        <td>{{device.brand}}</td>
        <td>{{device.model}}</td>
        <td>
          <button
            type="button"
            {{on "click" (fn this.removeDevice device)}}
          >Remove</button>
        </td>
      </tr>
    {{/each}}
  </table>

</div>

<script>
  let close = document.getElementsByClassName("closebtn"); let i; for(i = 0; i <
  close.length; i++) { close[i].onclick = function(){ let div =
  this.parentElement; div.style.opacity = "0"; setTimeout(function(){
  div.style.display = "none"; }, 600); } }
</script>

{{outlet}}